* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFCC80;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile {
    background-color: #FFA726;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile h1 {
    margin-bottom: 20px;
}

.profile-info {
    text-align: left;
}

.profile-info p {
    margin: 10px 0;
}
